<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home page</title>
    </head>

    <body>
        {{!-- <h1>{{pageTitle}}</h1> --}}
        {{> header}}
        <p>{{screamIt welcomeMsg}}</p> <!-- second argument is the argument for screamit fn -->

        {{> footer}}
    </body>
</html>